.home {
    margin: 0 auto;
    text-align: center;
}

.logo-home {
    height: 100%;
    background-image: url(./images/logo.png);
    background-repeat: no-repeat;
    background-position: 250px 80px;
}

.logo-home h2, .logo-home p {
    position: relative;
    width: 590px;
    top: 360px;
    margin-left: 80px;
    color: var(--font-color);
}

.logo-home a {
    text-decoration: none;
    color: var(--link-color);
    font-weight: bolder;
}

.logo-home p {
    margin-top: 25px;
}

.logo-home p:nth-of-type(2) {
    width: 600px;
    border-top: 1px solid rgba(0, 0, 0, 0.151);
    padding: 25px;
    margin-top: 70px;
}