.app-container {
    display: grid;
    grid-template-columns: 350px 1fr;
    width: 100%;
    max-width: 1200px;
    min-height: 600px;
    max-height: 1200px;
    margin: -100px auto;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.322);
}