.side-profile{
    height: 602px;
    overflow: hidden;
    background-color: var(--side-header-bg-color);
    border-right: 1px solid var(--side-border-color);
}

.side-profile > header{
    height: 150px;
    background-color: var(--profile-bg-header);
    color: rgb(255, 255, 255);
}

.side-profile > header > i {
    position: relative;
    margin-left: 35px;
    margin-top: 105px;
    cursor: pointer;
}

.side-profile > header > h3 {
    position: relative;
    font-weight: normal;
    left: 9%;
    bottom: 13.8%;
    margin-left: 35px;
}

.side-profile-details {
    height: 100%;
    overflow-y: auto;
}

.side-profile-details-image {
    padding: 25px;
    margin-left: 50px;
}

.side-profile-details-image img {
    width: 200px;
    border-radius: 50%;
    cursor: pointer;
}

.side-profile-details-name{
    height: 100px;
    padding: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.205);
    background-color: var(--side-container-input-bg-color);
}

.side-profile-details-name > form label {
    margin-left: 5px;
    color: var(--font-color-green);
}


.side-profile-details-name > form input{
    position: relative;
    top: 35px;
    color: var(--font-color);
    font-size: 1.1em;
    background-color: var(--side-container-input-bg-color);
    border: none;
    outline: none;
    margin-left: -39px;
}

.side-profile-details-name > form i {
    position: relative;
    cursor: pointer;
    float: right;
    top: 35px;
    color: var(--font-color);
}

.side-profile-details-name > form input.border-green-input {
    border-bottom: 2px solid var(--font-color-green);
}