.status-side {
    grid-column: 1;
    background-color: rgba(0, 0, 0, 0.93);
}

.status-side {
    color: white;
}

.status-side header{
    padding: 15px;
    background-color: rgb(18, 18, 18);
}

.border-bottom {
    width: 305px;
    margin: 30px auto 0px auto;
    border-bottom: 1px solid var(--status-side-grey-60)
}

.status-update-date {
    position: relative;
    top: 2px;
    left: 25px;
    font-size: .8em;
    color: var(--status-side-grey);
}

.status-side img {
    width: 40px;
    border-radius: 50%;
}

.status-side button {
    float: left;
    background-color: rgb(18, 18, 18);
}

.status-side h2 {
    position: relative;
    top: 2px;
    left: 15px;
    font-weight: normal;
    font-size: 1.05em;
}

.status-side-messages {
    max-height: 470px;
    overflow-y: auto;
}

.status-update {
    position: relative;
    color: var(--status-side-grey);
    top: 5px;
    left: 15px;
    font-size: .9em;
}

.status {
    grid-column: 2;
    background-color: black;
}

.status i {
    float: right;
    padding: 20px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 1.6em;
    color: white;
}

.status p {
    margin-top: 45%;
    text-align: center;
    color: var(--status-side-grey-60);
}