.container {
    display: flex;
    width: 100%;
    height: 100vh;
    max-width: 1441px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.281);
}

.side {
    width: 35%;
    height: 100%;
    border-right: 1px solid rgba(151, 151, 151, .3);
}

.sideHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    height: 70px;
    background: rgb(236, 236, 236);
}

.sideHeader img{
    width: 40px;
    height: 40px;
}

.sideHeader svg {
    cursor: pointer;
    margin-left: 30px;
}

.inputContainer {
    display: flex;
    padding: 8px;
    height: 50px;
    background: #f7f7f7;
    border-bottom: 1px solid rgba(151, 151, 151, .3);
}

.inputContainer input {
    overflow-x: auto;
    padding: 0 65px;
    /* padding-left: 50px; */
    width: 100%;
}

.inputContainer label {
    position: absolute;
}

.inputContainer svg {
    position: relative;
    top: 8px;
    left: 10px;
}

.previewMsg {
    display: flex;
    padding: 10px;
}

.previewMsg .previewMsgDetails {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
    margin-left: 10px;
}

.previewMsg .previewMsgDetails div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.previewMsg h2 {
    font-weight: 400;
    font-size: 1.2em;
}

.previewMsg span {
    font-weight: lighter;
    font-size: .8em;
}


.previewMsg img {
    width: 60px;
    height: 60px;
}

.previewMsgDetails div:last-child {
    align-items: center;
    color: rgba(0, 0, 0, .7);
}

.previewMsgDetails p {
    margin-left: 5px;
    font-size: .8em;
}

.previewMsgDetails svg {
    position: relative;
    top: 3px;
}