.message-preview-contact {
    display: flex;
    justify-content: flex-start;
    height: 60px;
    cursor: pointer;
    background-color: var(--side-container-input-bg-color);
    border-bottom: 1px solid var(--side-border-color);
}

.message-preview-contact > .avatar {
    align-self: center;
}

.message-preview-contact img {
    margin-left: 15px;
    width: 40px;
    border-radius: 50%;
}

.message-preview-contact > .message-preview {
    align-self: center;
}

.message-preview-contact > .message-preview > h2 {
    font-size:1.1em;
    font-weight: normal;
    margin-top: 5px;
    margin-left: 15px;
}


.message-preview-contact > .message-preview > span {
    position: relative;
    color: var(--font-color);
    font-size: 0.8em;
    top: -20px;
    margin-left: 200px;
}

.message-preview-contact p {
    position: relative;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    left: 15px;
    bottom: 15px;
    color: var(--font-color);
    font-weight: normal;
    font-size: 0.95em;
}